align-cases = true
align-constructors-decl = true
align-variants-decl = true
break-cases = all
break-infix = fit-or-vertical
break-infix-before-func = true
doc-comments = before
exp-grouping = preserve
if-then-else = keyword-first
indicate-multiline-delimiters = closing-on-separate-line
infix-precedence = parens
let-and = sparse
module-item-spacing = preserve
single-case = sparse
type-decl = sparse
